<a href="https://colab.research.google.com/github/Sadanan643021272-0/python_dataviz2023/blob/main/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
data0 = pd.read_csv('/content/csv.csv')

FileNotFoundError: ignored

In [21]:
import pandas as pd

## Meta data = Data that describtion data

ใช้อธิบายช้อมูล

## CSV = Comma Separated Values
ในการจะใส่ค่าแต่ละค่า จะใช้  comma ในการแย่ง

.csv = Comma Separated Values

data.go.th

# นำ Data เข้า
- upload to colab  # กรณีใช้เเค่ครั้งเดียว
- link with google drive

## upload to colab

In [11]:
data0 = pd.read_csv('/content/opendata_project.csv')

NameError: ignored

In [12]:
data0.tail()   ##โชว์เเค่ท้ายตาราง

NameError: ignored

In [13]:
data0.shape ##ดูROW เเละColumn

NameError: ignored

In [ ]:
data0.describe()##25% ควอไทล์ที่1

In [ ]:
data0.head()

In [ ]:
data0

## link with google drive

In [22]:
from google.colab import drive
drive.mount('/content/drive')  # mount =  เชื่อมไดร์ฟ

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
data1 = pd.read_csv('/content/drive/MyDrive/DataViz23Data/csv.csv')
data1.head(10)

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
0,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองบางกะปิจากคลองสามเสนถึงคลองแสนแสบ,1193000
1,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองทรงกระเทียมจากคลองลาดพร้าวถึงถนนโชคช...,1100000
2,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองเป้งจากคลองแสนแสบถึงซอยเจริญสุข,3075000
3,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองลำพังพวยจากถนนศรีบูรพาถึงสถานีสูบน้ำ...,6240000
4,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกบึงรางเข้จากคลองพระยาราชมนตรีถึงถนนบางขุ...,2685000
5,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองราษฎร์สามัคคีจากคลองทวีวัฒนาถึงคลองม...,1207000
6,งบประจำปี,0,62,50130000,สำนักงานเขตมีนบุรี,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกลำรางโต๊ะรอด ตั้งแต่คลองสองต้นนุ่นถึงระย...,225400
7,งบประจำปี,0,62,50130000,สำนักงานเขตมีนบุรี,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกลำรางเลียบคลองบึงขวาง ตั้งแต่คลองบึงขวาง...,452500
8,งบประจำปี,0,62,50150000,สำนักงานเขตหนองจอก,28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต,งบลงทุน,ขุดลอกคลองลำแขก จากคลองลำปลาทิว \nถึงคลองลำตาเ...,447000
9,งบประจำปี,0,62,50150000,สำนักงานเขตหนองจอก,28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต,งบลงทุน,ขุดลอกคลองอู่ตะเภา จากคลองลำนกแขวก\nถึงคลองลำม...,497000

In [ ]:
data1.head(10)  # ดูหัวตาราง จากแถวบน 10 แถวแรก นับจาก 0-9

In [ ]:
data1.tail(10) # ดูท้ายตาราง จากข้างล่าง

In [ ]:
data1.shape # ดูขนาด กี่เเถวกี่หลัก

In [ ]:
data1.describe()

NaN = Not a Number

# ชี้ค่าในตาราง (indexing)
ชี้ค่าติดลบไม่ได้

In [ ]:
data1['Budget_resource'][690]

In [ ]:
data1['Budget_resource'][-3:-1]

In [14]:
data1.columns

NameError: ignored

In [ ]:
data1[['Approved_buget', 'Item_name','Department']] #เรียงตามลำดับ

In [ ]:
data1[['Approved_buget', 'Item_name','Department']][6:11] #วงเล็บ2เป็นROW

#มุมมองเเบบ Array

In [ ]:
 data1.iloc[0,0] # .iloc เปลี่ยนมุมมองเป็น np.arry  ชี้เป็นเเถว คอลัม ติดลบ สไลด์ได้

In [ ]:
 data1.iloc[-6,5] ##-6คือเเถวที่ลบ6ออกจากด้านล่าง

In [ ]:
data1.tail(7)

#มุมมองคอลัมน์

DF คือ DATAFRAME  เป็นชื่อ Data structure ที่Pandas ใช้

# Table Slicing
ไม่ค่อยมีประสิทธิภาพ
ต้องทราบพิกัด

In [ ]:
data1.iloc[-20 :,7:10]

 ## table Query

#####อยากได้รายการที่ได้อนุมัติงบเกิน 1,000,00บาท
```df[logics]``` โดยที่Logics จะต้องมีจำนวนสมาชิกเท่ากับจำนวนเเถวของdf

In [29]:
small_df = data1.iloc[-5:,:]
small_df

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
687,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองผักกะเฉด,3686000
688,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองบึงทรายกองดิน,2575000
689,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางซาฟารี,689000
690,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางตาจันทร์,464000
691,งบเพิ่มเติม,1,66,50500000,สำนักงานเขตบางบอน,NaN,งบลงทุน,ขุดลอกคลองบางบอนต่อจากของเดิมถึงคลองนายผล,7578000

In [30]:
small_df[[False, True,True,False,False]] ##small_df คือชื่อDF ##เลือกเฉพาะ rowที่ต้องการ โดยนับเเถวเเรกเป็น0

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
688,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองบึงทรายกองดิน,2575000
689,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางซาฟารี,689000

##ปั้น list  of logics จากตาราง PANDAS

In [15]:
small_df['Approved_buget'] < 1,000,000

NameError: ignored

In [ ]:
small_df[small_df['Approved_buget'] < 1000000]

In [ ]:
data1[data1['propertytype_name_en']== 'condo'] #ใช้ logi

####QUIZ3 อยากได้รายการที่ได้รับอนุมัติงบมากกว่า 1 ล้านบาท เเต่ไม่เกิน 2 ล้านบาท

In [ ]:
data1[(data1['Approved_buget'] >1000000) & (data1['Approved_buget']<=2000000)]

In [ ]:
data1['propertytype_name_en']== 'condo'

In [ ]:
data1[data1['price_min'] > 10000000]

In [ ]:
data1[data1['price_min'] > 10000000].describe()

# Quiz 4
1. ราคาเฉลี่ยของบ้านที่มีราคาระหว่าง 3-5 ร้านบาท
2. พื้นที่ และ จำนวนห้องนอนของบ้านที่แพงที่สุด
3. จำนวนที่จอดรถและห้องน้ำของบ้านที่ถูกที่สุด
4. ชนิดของบ้านที่แพงที่สุด
5. บ้านชนิดไหนมีปริมาณมากที่สุด

In [ ]:
# 1. ราคาเฉลี่ยของบ้านที่มีราคาระหว่าง 3-5 ร้านบาท
data1[(data1['price_min'] >=3000000) & (data1['price_min']<=5000000)].describe()
# Ans 3.928111e+06	 = 3.928111  ล้านบาท

In [ ]:
price_mean = data1[(data1['price_min'] >=3000000) & (data1['price_min']<=5000000)]['price_min'].mean()

In [ ]:
print(f'ราคาเฉลี่ยของบ้านที่มีราคาระหว่าง 3-5 ล้านบาท คือ {int(price_mean):,}')

In [ ]:
#2.พื้นที่และจำนวนห้องนอนของบ้านที่แพงที่สุด
data1['price_min'].max()

In [ ]:
data1[data1['price_min']==580000000][['area_usable_min','count_room_bed']]

In [ ]:
data1[data1['price_min']==data1['price_min'].max()][['area_usable_min','count_room_bed','price_min']]

In [ ]:
data1[data1['price_min']==data1['price_min'].max()]

In [ ]:
#3.จำนวนที่จอดรถและห้องน้ำที่ถูกที่สุด
data1['price_min'].min()

In [ ]:
data1[data1['price_min']==100000][['count_parking','count_room_bath']]

In [ ]:
data1[data1['price_min']==data1['price_min'].min()][['propertytype_name_en','count_parking','count_room_bath','price_min']]

In [ ]:
# 4. ชนิดของบ้านที่แพงที่สุด
data1.describe()
data1[data1['price_min'] == 580000000]
# Ans Condo

In [ ]:
# 4. ชนิดของบ้านที่แพงที่สุด
data1['propertytype_name_en'][data1['price_min'] == 580000000]

In [ ]:
data1[data1['price_min']==data1['price_min'].max()][['propertytype_name_en','price_min']]

In [ ]:
#5. บ้านชนิดไหนมีปริมาณมากที่สุด
data1['propertytype_name_en'].describe()

In [ ]:
import os

In [ ]:
path = '/content/drive/My Drive/dataviz_2021_data'

In [ ]:
covid_file_path = os.path.join(path,'pm-20-jan-2021.csv')
print(covid_file_path)

In [ ]:
a = path + '/pm-18-jan-2021.csv'
print(a)

###Missing Values

## load data to memory

In [ ]:
data_covid = pd.read_csv(covid_file_path)
data_covid

In [ ]:
data_covid.head()

NaN = Not a Number

In [ ]:
data_covid.head(20)

In [ ]:
data_covid.tail()

In [ ]:
data_covid.shape

## ชี้ค่าในตาราง

#### basic

In [ ]:
data_covid['province_of_onset']

In [ ]:
data_covid['risk'][12649]

#### .iloc

In [ ]:
data_covid.iloc[4,7]

# เรียนถึงนี่ 12 Jan 2022

## Table slicing

#### ตัดมาเฉพาะ column ที่ต้องการ

In [ ]:
smaller_table = data_covid[['province_of_onset','announce_date','risk']]
smaller_table

#### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [ ]:
data_covid.iloc[1:5,:]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

```pddf```[list_of_logical_values] คือการเลือก row ที่ logical values เป็น True

In [ ]:
data_covid['province_of_onset']

In [ ]:
data_covid['province_of_onset']=='ขอนแก่น'

In [ ]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

In [ ]:
data_covid[data_covid['age']>=70]

การชี้ค่าในตารางด้วย data_covid[***x***] ค่า ***x*** สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ


1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มี***ขนาดเท่ากับจำนวนแถว*** แล้วบอกว่าเอา แถวไหนบ้างโดยใช้ logical expression (```True```/```False```))

In [ ]:
eight_rows_covid = data_covid.iloc[:8,3:] # ตารางตัวอย่าง
eight_rows_covid

In [ ]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]   #2.   ใส่ list ที่ มีค่า logic ของ แต่ละ row โดยที่ ค่า True คือ เลือก ค่า False คือไม่เลืิอก

In [ ]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'  #สร้าง list ของ logical expression

In [ ]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร']  #เราเอา 2 บรรทัดบนมาบวกกัน

In [ ]:
eight_rows_covid['district_of_onset'] == 'เมือง'

In [ ]:
import numpy as np

$.isnull()$ ใช้ตรวจสอบว่าเป็น NaN หรือไม่

In [ ]:
eight_rows_covid['district_of_onset'].isnull()

In [ ]:
sum(eight_rows_covid['district_of_onset'].isnull())

Quiz (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)

1.   คำนวณ อายุเฉลี่ย ของ**ผู้ชาย** ในข้อมูลทั้งหมด
2.   คำนวณ อายุเฉลี่ย ของ**ผู้ชาย** ในจังหวัดขอนแก่น
3.   หาจำนวนผู้ป่วยที่เป็นคน **ที่ไม่ใช่คนไทย**

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]

In [ ]:
this_data

In [ ]:
female = this_data[this_data['sex']=='หญิง']
female

In [16]:
female['age']

NameError: ignored

In [ ]:
sum = 0
N = 0
for a in female['age']:

    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง {sum/N}')

In [ ]:
female_KK = female[female['province_of_onset']=='ขอนแก่น']

sum = 0
N = 0
for a in female_KK['age']:

    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น {sum/N}')

In [ ]:
female[(female['province_of_onset']=='ขอนแก่น') | (female['province_of_onset']=='หนองคาย')]

#### หาจำนวนคนป่วยที่ไม่ใช่คนไทย

In [ ]:
import numpy as np

In [ ]:
np.sum(data_covid['nationality'].dropna() != 'Thailand')

การจัดการ Missing Value

- ลบ record ที่เป็น missing
- แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default, category-unknown
- ใช้ ค่าจาก columns อื่นๆ ช่วยประมาณค่า ค่าใน column ที่หายไป (regression, deep learning, etc.)

### ลบ record (dropna)

missing = ```None``` ```NA```(not autorized) ```NaN``` (not a number)

In [ ]:
this_data

In [ ]:
this_data.shape #(12423, 3)

In [ ]:
this_data.dropna()

In [ ]:
print(data_covid.shape)
print(data_covid.dropna().shape)

In [ ]:
this_data.dropna(subset=['age','sex'])

###การจัดการ misiing values
-ลบ record ที่เป็น misiing (dropna)

-เเทนที่ค่าmissing ด้วยค่าที่เหมาะสม mean,dafault,category-unknown(fillna)

-ใช้ค่าจากcolumn อื่นๆ ช่วยประมาณค่า ค่าในcolumn ที่หายไป(regression,deep learning.etc.)(fillna)

#####NAN- NOT A NUMBER

##### NULL

#####NA -NOT Available

In [ ]:
data1.shape

In [ ]:
data1.dropna().shape

In [ ]:
print(this_data.dropna().shape)
print(this_data.dropna(subset=['sex','age']).shape)

# ตรวจสอบ Missing (```isnull()```)
เซลล์ที่ว่างจะเป็น True

In [ ]:
data1.isnull().any()  ## .any()เอาค่าความจริงใน colum มา or กัน

In [ ]:
data1.isnull().any().any()  #เอาค่าความจริง มา orกัน

In [ ]:
data1.isnull().all()  ## .any()เอาค่าความจริงใน colum มา and กัน

In [ ]:
this_data.isnull()

In [ ]:
this_data.isnull().any() # .any() เอาค่าความจริงใน column มา OR กัน

In [ ]:
this_data.isnull().all() # .all() เอาค่าความจริงใน column มา AND กัน

In [ ]:
this_data.isnull().any().any()

In [ ]:
data1.shape

In [ ]:
data1_1 = data1.dropna(subset=['Fiscal_year'])

In [ ]:
data1_1.isnull().any() ##ต้องมีตัวเเปรรับถึงจะอัพเดท

In [ ]:
data1.dropna(subset=['Fiscal_year'],inplace = True)##อัพเดทตารางเดิม

In [ ]:
this_data.dropna(subset=['sex','age']).isnull().any()

In [ ]:
this_data.dropna(subset=['sex','age'])

##Filna

In [ ]:
data1['Core_budget_code']

In [ ]:
set(data1['Core_budget_code']) #ถ้าหน้าตาเหมือนกันจะเลือกมาอันเดียว

In [ ]:
data1.fillna('-',inplace=True)

In [ ]:
data1.isnull().any()

#HW3
-รายการที่เเพงที่สุดเเละถูกที่สุดคือรายการอะไร

-รายการขุดลอกคูคอง 'สำนักงานเขตคลองสาม'เเละ'สำนักงานเขตคลองสามวา'

-จากข้อ2  เขตไหนใช้งบประมาณเยอะกว่ากัน

-Core Budget ไหน ('12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม',
 '17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร',
 '28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต') มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติมากที่สุด

##ข้อ1 รายการที่เเพงที่สุดเเละถูกที่สุดคือรายการอะไร

In [ ]:
data1

In [ ]:
data1.max()
data1.min()

In [ ]:
data1_max =data1['Approved_buget'].max()
data1_min = data1['Approved_buget'].min()
data1[(data1['Approved_buget'] == data1_max)|(data1['Approved_buget'] == data1_min)]

##ข้อ2 รายการขุดลอกคูคอง 'สำนักงานเขตคลองสาม'เเละ'สำนักงานเขตคลองสามวา'

In [ ]:
data1[(data1['Department'] == 'สำนักงานเขตคลองสาน') | (data1['Department'] == 'สำนักงานเขตคลองสามวา')]

##ข้อ3 -จากข้อ2  เขตไหนใช้งบประมาณเยอะกว่ากัน

```
# This is formatted as code
```

In [ ]:
data_6= data1[(data1['Department'] == 'สำนักงานเขตคลองสาน')]
data_7= data_6['Approved_buget'].sum()
print('สำนักงานเขตคลองสาน ใช้งบประมาณไปทั้งหมด', data_7) ,
data_8 = data1[(data1['Department'] == 'สำนักงานเขตคลองสามวา')]
data_9 = data_8['Approved_buget'].sum()
print('สำนักงานเขตคลองสามวา ใช้งบประมาณไปทั้งหมด', data_9)

In [ ]:
if (data_7 < data_9):
   print('สำนักงานเขตคลองสานใช้งบประมาณมากกว่า')
elif (data_7 > data_9):
   print('สำนักงานเขตคลองสามวาใช้งบประมาณมากว่า')

##ข้อ4 Core Budget ไหน ('12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม', '17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร', '28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต') มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติมากที่สุด

In [ ]:
Core_data1 = data1.dropna()
CoreBudget_data1 = Core_data1[Core_data1['Core_budget_code'] != '-']
CoreBudget_data1_12 =CoreBudget_data1[CoreBudget_data1['Core_budget_code'] == '12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม']
CoreBudget_data1_28 =CoreBudget_data1[CoreBudget_data1['Core_budget_code'] == '28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต']
CoreBudget_data1_17 =CoreBudget_data1[CoreBudget_data1['Core_budget_code'] == '17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร']
CoreBudget = []
x=set(CoreBudget_data1['Core_budget_code'])
for n in x:
  CoreBudget.append(n)
CoreBudget_data1_12_MEAN =CoreBudget_data1_12['Approved_buget'].mean()
CoreBudget_data1_17_MEAN =CoreBudget_data1_17['Approved_buget'].mean()
CoreBudget_data1_28_MEAN =CoreBudget_data1_28['Approved_buget'].mean()
if (CoreBudget_data1_12_MEAN > CoreBudget_data1_17_MEAN ) & (CoreBudget_data1_12_MEAN > CoreBudget_data1_28_MEAN ):
  print(f'รายการนี้ {CoreBudget[2]} มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด {CoreBudget_data1_12_MEAN}')
elif (CoreBudget_data1_17_MEAN > CoreBudget_data1_12_MEAN ) & (CoreBudget_data1_17_MEAN > CoreBudget_data1_28_MEAN ):
  print(f'รายการนี้ {CoreBudget[0]} มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด {CoreBudget_data1_17_MEAN}')
elif (CoreBudget_data1_28_MEAN > CoreBudget_data1_12_MEAN ) & (CoreBudget_data1_28_MEAN > CoreBudget_data1_17_MEAN ):
  print(f'รายการนี้ {CoreBudget[1]} มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด {CoreBudget_data1_28_MEAN}')

### 1. เพื่อให้ได้ผลลัพธ์การจัดการ ```dropna()``` ต้องเอาตัวแปรมารับ

In [ ]:
this_data_nonull = this_data.dropna(subset=['sex','age'])

In [ ]:
this_data_nonull.isnull().any()

### 2. update ตารางด้วยตัวแปร ```inplace```

In [ ]:
this_data.dropna(subset=['sex','age'],inplace=True)

In [ ]:
this_data.isnull().any()

In [ ]:
aa = this_data.dropna(subset=['sex','age'],inplace=True)

In [ ]:
aa

### แทน missing ด้วยค่าที่เหมาะสม (```fillna()```)

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]

In [ ]:
this_data

In [ ]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f'จำนวน record หลัง drop missing ใน province {this_data.dropna(subset=["province_of_onset"]).shape[0]}')

### 1. แทนด้วย class ใหม่

In [ ]:
this_data_updated = this_data.fillna(value={'sex':'ไม่รู้', 'age':-99, 'province_of_onset':'ไม่รู้'})
this_data_updated.head()

In [ ]:
this_data_updated.tail(15)

In [ ]:
this_data_updated.isnull().any()

### 2. แทนด้วยค่าที่เหมาะสม


*   ตามใจคนทำ
*   ค่ากลาง

#### ตามใจคนทำ

In [ ]:
data_covid.head()

In [ ]:
data_covid_fillasiwant = data_covid.fillna(value={'sex':'หญิง'})  #เรามีข้อมูลว่า เพศหญิงมีเยอะกว่าเพศชาย

In [ ]:
data_covid_fillasiwant.isnull().any()

#### แทนด้วยค่ากลาง

In [ ]:
data_covid['age']

In [ ]:
data_covid['age'].mean()

In [ ]:
data_covid_fillwithmean = data_covid.fillna(value={'age':data_covid['age'].mean()})

In [ ]:
data_covid_fillwithmean.isnull().any()

### การวนลูป record ในตาราง  (```.iterrows```)

In [25]:
for row in range(len(data1)):
  print (row[1]['Fiscal_year'])
  print('-----------------')

NameError: ignored

In [27]:
for row in data1.iterrows():
  #PRINTZ=(row)
  print (row[1]['Fiscal_year'])
  print('------------')

62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
62
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
63
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
64
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
65
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------
66
------------

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data

##การสร้าง Columns เพิ่ม```['ชื่อ columnใหม่'] = list of data #list of data มีจำนวนสามาชิกเท่ากับจำนวนRowของตาราง

In [33]:
small_df = data1.iloc[-5:,:]
small_df

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
687,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองผักกะเฉด,3686000
688,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองบึงทรายกองดิน,2575000
689,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางซาฟารี,689000
690,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางตาจันทร์,464000
691,งบเพิ่มเติม,1,66,50500000,สำนักงานเขตบางบอน,NaN,งบลงทุน,ขุดลอกคลองบางบอนต่อจากของเดิมถึงคลองนายผล,7578000

In [35]:
small_df['ผู้รับผิดชอบ'] = ['บักตู่','อีป้อม','ผู้ว่าชัชชาติ','คุณพิธา','คุณไอติม']
small_df

<ipython-input-35-c49edc911f26>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_df['ผู้รับผิดชอบ'] = ['บักตู่','อีป้อม','ผู้ว่าชัชชาติ','คุณพิธา','คุณไอติม']

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget,ผู้รับผิดชอบ
687,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองผักกะเฉด,3686000,บักตู่
688,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองบึงทรายกองดิน,2575000,อีป้อม
689,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางซาฟารี,689000,ผู้ว่าชัชชาติ
690,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางตาจันทร์,464000,คุณพิธา
691,งบเพิ่มเติม,1,66,50500000,สำนักงานเขตบางบอน,NaN,งบลงทุน,ขุดลอกคลองบางบอนต่อจากของเดิมถึงคลองนายผล,7578000,คุณไอติม

In [ ]:
for each_row in this_data.iterrows():
    # print(each_row)
    # print(each_row[1])
    # print(each_row[1]['sex'])
    if (each_row[1]['age'] <= 20) and (each_row[1]['province_of_onset'] == 'ขอนแก่น'):
        print(each_row)

##การลบCOLUMNS

In [36]:
small_df.drop(axis=1,columns=['Core_budget_code']) ##AXISคือเเกน

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Expenditure_category,Item_name,Approved_buget,ผู้รับผิดชอบ
687,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,งบลงทุน,ขุดลอกคลองผักกะเฉด,3686000,บักตู่
688,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,งบลงทุน,ขุดลอกคลองบึงทรายกองดิน,2575000,อีป้อม
689,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,งบลงทุน,ขุดลอกลำรางซาฟารี,689000,ผู้ว่าชัชชาติ
690,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,งบลงทุน,ขุดลอกลำรางตาจันทร์,464000,คุณพิธา
691,งบเพิ่มเติม,1,66,50500000,สำนักงานเขตบางบอน,งบลงทุน,ขุดลอกคลองบางบอนต่อจากของเดิมถึงคลองนายผล,7578000,คุณไอติม

In [45]:
new_column = list()
for row in data1.iterrows():
  new_col = f"{row[1]['Department']}-{row[1]['Expenditure_category']}-{row[1]['Item_name']}"
  new_column.append(new_col)

In [48]:
data1['description'] = new_column
data1=data1.drop(axis=1,columns=['Department','Expenditure_category','Item_name'])

##การวนลูป แบบมองตารางแพนด้าส์(pandas dataframe) เป็น numpy array (.iloc)

In [ ]:
for each_row in range(this_data.shape[0]):
    if (this_data.iloc[each_row,1] <= 20) and (this_data.iloc[each_row,2] == 'ขอนแก่น'):  #each_row คือ ตัวเลข
        print(each_row)
        print(this_data.iloc[each_row,:])

## Quiz ตัดตารางออกมาเฉพาะปี 2021 ```announce_date``` ในปี 2021

**Hint**
*   วนลูปหา index ของปี 2021
*   ตัดตารางมาเฉพาะ ปี 2021

In [ ]:
TF=list()
for each_row in data_covid.iterrows():
    if each_row[1]['announce_date'].split('/')[2] == '2021':
        TF.append(True)
    else:
        TF.append(False)

data_covid[TF].head()

In [ ]:
TF

### HW กลุ่ม 2 || เลือกข้อมูลมาเฉพาะวัน announce_date เป็นวันที่ 1-20

# Function ตัวช่วยใน pandas

### ```.describe()``` คำนวณค่าทางสถิติของข้อมูลที่เป็นตัวเลข

In [ ]:
data_covid.describe()

### ```.mean()``` คำนวณค่าเฉลี่ยของข้อมูลโดยไม่สนใจ missing

In [ ]:
data_covid[data_covid['sex']=='ชาย']['age'].mean()

### ```.isnull()```

In [ ]:
data_covid.isnull()

# next

*   ต่อตารางแกน X แกน y
*   .groupby
*   save table